input {
  font-size: small;
  border: var(--outline-color) 0.13rem solid;
  padding: 0.5rem;
}

input:disabled {
  border-color: gray;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container > label {
  font-size: small;
  margin-bottom: 0.5rem;
}
