.about-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

@media (max-width: 640px) {
  .about-container {
    max-width: 15rem;
  }
}

#notes-license-block {
  display: block;
  margin-top: 1rem;

  overflow-y: auto;
  overflow-x: scroll;
}
