.note-select-container {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  max-width: inherit;
}

.note-select-container > button {
  border: none;
  color: gray;
  width: 100%;
  font-weight: normal;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-select-container > button:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.select-note-active > button {
  color: black;
}

.select-note-date {
  font-size: x-small;
}
