.notification {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 2.5rem;
  padding: 0.3rem;
  padding-right: 1rem;
  font-weight: bold;
  font-size: smaller;
  border-radius: 0.3rem 0 0 0.3rem;

  background-color: var(--active-color);
}

.notification > div {
  padding-top: 0.15rem;
  margin-right: 0.2rem;
  width: 1.2rem;
}
