#editor {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding-top: 1rem;
  min-height: max-content;
}

#editor-title-container {
  display: flex;
  align-self: center;
  margin-top: 1rem;
  text-align: center;
}

.editor-title,
.editor-title-disabled {
  display: inline-block;
  line-height: normal;
  font-size: medium;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.4rem;
}

.editor-title-disabled {
  color: gray;
}

@media (max-width: 906px) {
  .editor-title,
  .editor-title-disabled {
    max-width: 50vw;
  }
}

@media (max-width: 580px) {
  .editor-title,
  .editor-title-disabled {
    max-width: 35vw;
  }
}

#editor-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.25rem;
}

#main-editor-button-section {
  display: flex;
  margin: 0.4rem 0.2rem;
}

.editor-menu-button {
  margin: 0.2rem;
  padding: 0.2rem 0.4rem;
  border: none;
  position: relative;
}

#ellipsis-editor-menu {
  display: flex;
  flex-direction: row;
}

#ellipsis-pop-out {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 999;

  background-color: var(--background-color);
  box-shadow: 0 0.15rem 0.2rem 0 rgba(80, 80, 80, 0.099);
  border-radius: 0.3rem;

  top: 2.25rem;
  right: 1px;
}

.show-ellipsis-pop-out {
  visibility: visible !important;
  animation: fadeIn 1s;
}

/* TipTap/ProseMirror specific */
.ProseMirror {
  height: 100%;
  width: 100%;
  max-width: 40rem;
  outline: none;
  padding: 0 1rem;
}

.code-block {
  display: block;
  padding: 0.5rem;
  background-color: var(--code-block-color);
  color: white;
  border-radius: 0.3rem;
  margin: 0.5rem;
}

.task-item {
  display: flex;
  list-style: none;
}

.task-item > label {
  margin-right: 0.5rem;
}

.task-item > label > input {
  transform: scale(2);
}
