#editor-top-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  border-right: var(--outline-color) 0.15em solid;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: min-content;
}

#editor-top-menu > div {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0.2em;
}

#editor-top-menu > div > button {
  margin: 0.1em;
}

#editor {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding-top: 1em;
}

#editor-floating-menu {
  display: flex;
}

#editor-floating-menu > button {
  margin: 0 0.1em;
}

/* TipTap/ProseMirror specific */
.ProseMirror {
  height: 100%;
  width: 100%;
  max-width: 50em;
  outline: none;
  padding: 0 1em;
}

.code-block {
  display: block;
  padding: 0.5em;
  background-color: var(--code-block-color);
  color: white;
  border-radius: 0.3em;
  margin: 0.5em;
}

.task-item {
  display: flex;
  list-style: none;
}

.task-item > label {
  margin-right: 0.5em;
}

.task-item > label > input {
  transform: scale(2);
}
