#editor {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding-top: 1rem;
  min-height: max-content;
}

#editor-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.25rem;
}

#editor-menu > div {
  display: flex;
  margin: 0.4rem 0.2rem;
}

#editor-menu > div > button {
  margin: 0.1rem;
}

#editor-floating-menu {
  display: flex;
}

#editor-floating-menu > button {
  margin: 0 0.1rem;
}

/* TipTap/ProseMirror specific */
.ProseMirror {
  height: 100%;
  width: 100%;
  max-width: 40rem;
  outline: none;
  padding: 0 1rem;
}

.code-block {
  display: block;
  padding: 0.5rem;
  background-color: var(--code-block-color);
  color: white;
  border-radius: 0.3rem;
  margin: 0.5rem;
}

.task-item {
  display: flex;
  list-style: none;
}

.task-item > label {
  margin-right: 0.5rem;
}

.task-item > label > input {
  transform: scale(2);
}
