.note-delete-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 17rem;
}

.delete-dialog-note-title {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* needs to be a little less than the container */
  max-width: 16rem;
}
