button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  border: none;
  padding: 0.25rem 0.4rem;

  font-size: small;
  font-weight: bold;

  cursor: pointer;

  color: rgb(55, 55, 55);
  background-color: transparent;

  transition: background-color 0.1s ease-in-out;
}

button:hover {
  background-color: var(--button-hover-color);
}

button > svg {
  width: 1.2rem;
  margin: 0.1rem 0;
  fill: rgb(55, 55, 55);
}

button > span {
  margin-left: 0.25rem;
}

button.isActive {
  background-color: var(--color);
}

button:disabled {
  background-color: transparent;
  border-color: rgb(70, 70, 70);
  color: rgb(70, 70, 70);
  fill: rgb(70, 70, 70);
  cursor: not-allowed;
}
