#status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  border-bottom: var(--outline-color) 0.13rem solid;
  padding: 0.25rem 0.5rem;
  overflow-y: hidden;
  overflow-x: auto;
}

#status-bar button {
  border: none;
  padding: 0 0.2rem;
  font-weight: inherit;
  font-size: inherit;
}

#status-bar button:hover {
  background-color: var(--info-button-hover-color);
}

#status-bar-title-container {
  text-align: center;
}

.status-bar-title,
.status-bar-title-disabled {
  display: inline-block;
  line-height: normal;
  font-size: medium;
  font-weight: bold;
  max-width: 30vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.4rem;
}

.status-bar-title-disabled {
  color: gray;
}

@media (max-width: 906px) {
  .status-bar-title,
  .status-bar-title-disabled {
    max-width: 50vw;
  }
}

@media (max-width: 580px) {
  .status-bar-title,
  .status-bar-title-disabled {
    max-width: 35vw;
  }
}

@media (min-width: 1080px) {
  .status-bar-title,
  .status-bar-title-disabled {
    max-width: 40vw;
  }
}

.status-bar-database-container,
.status-bar-status-container {
  display: flex;
  align-items: center;
}

.status-bar-date {
  white-space: nowrap;
  font-size: 0.65rem;
}

.status-bar-status-container div,
.status-bar-database-container div {
  margin: 0 0.2rem;
}

#status-bar-alert button {
  font-weight: bold;
  background-color: var(--error-color);
  padding-right: 0.3rem;
}

#status-bar-alert button:hover {
  background-color: var(--error-color);
}

@media (max-width: 906px) {
  .status-bar-hide-on-mobile {
    display: none !important;
  }
}
