#status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  padding: 0.25rem 0.5rem;
  overflow-y: hidden;
  overflow-x: auto;
  user-select: none; /* Prevents text selection */
  color: var(--text-background);
}

#status-bar button {
  border: none;
  padding: 0 0.2rem;
  font-weight: inherit;
  font-size: inherit;
  color: var(--text-background);
}

#status-bar button:hover {
  background-color: var(--button-hover-color);
}

.status-bar-left-container,
.status-bar-right-container {
  display: flex;
  align-items: center;
}

.status-bar-date {
  white-space: nowrap;
  font-size: 0.65rem;
}

.status-bar-right-container div,
.status-bar-left-container div {
  margin: 0 0.2rem;
}

#status-bar-error-alert button {
  font-weight: bold;
  background-color: var(--error-color);
  color: black;
  padding-right: 0.3rem;
}

#status-bar-error-alert button:hover {
  background-color: var(--error-color);
}

#status-bar-error-alert svg {
  fill: black;
}

#status-bar-save-alert > div {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.3rem 0.1rem 0.15rem;
  font-weight: bold;
  border-radius: 0.3rem;
  background-color: var(--active-color);
  color: var(--text-primary);
}

#status-bar-save-alert > div > svg {
  margin-right: 0.2rem;
  width: 1.2rem;
}

.open-sidebar-button-active {
  background-color: var(--button-hover-color);
}

@media (max-width: 660px) {
  .status-bar-hide-on-mobile {
    display: none !important;
  }
}
