#status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  border-bottom: var(--outline-color) 0.15em solid;
  padding: 0.25em 0.5em;
  height: min-content;
}

#status-bar button {
  border: none;
  padding: 0 0.2em;
  font-weight: inherit;
  font-size: inherit;
}

#status-bar button:hover {
  background-color: var(--info-button-hover-color);
}

#status-bar-title-container {
  text-align: center;
}

.status-bar-title,
.status-bar-title-disabled {
  display: inline-block;
  font-weight: bold;
  max-width: 18vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.status-bar-title-disabled {
  color: gray;
}

@media (max-width: 640px) {
  .status-bar-title,
  .status-bar-title-disabled {
    max-width: 40vw;
  }
}

@media (min-width: 850px) {
  .status-bar-title,
  .status-bar-title-disabled {
    max-width: 40vw;
  }
}

.status-bar-database-container,
.status-bar-status-container {
  display: flex;
  align-items: center;
}

.status-bar-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.status-bar-status-container div,
.status-bar-database-container div {
  margin: 0 0.2em;
}

#status-bar-alert button {
  font-weight: bold;
  background-color: var(--error-color);
}

#status-bar-alert button:hover {
  background-color: var(--error-color);
}
