footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  border-top: var(--outline-color) 0.15em solid;
  padding: 0.25em 0.5em;
  height: min-content;
}

footer button {
  border: none;
  padding: 0 0.2em;
  font-weight: inherit;
  font-size: inherit;
}

footer button:hover {
  background-color: var(--info-button-hover-color);
}

.footer-data-container {
  display: flex;
  align-items: center;
}

.footer-data-container div {
  display: flex;
  align-items: center;
}

.footer-divider {
  height: 1em;
}

.footer-divider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  border-left: var(--outline-color) 0.15em solid;
  transform: translateX(-50%);
}
