.note-details-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 15em;
}

.note-details-container > h3 {
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}
