.database-dialog section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 30rem;
}

@media (max-width: 640px) {
  .database-dialog section {
    max-width: 20rem;
  }
}

.database-dialog form {
  display: flex;
  flex-direction: column;
}

.database-dialog form input {
  margin: 0.25rem 0;
}

.database-dialog form label {
  margin: 0.5rem 0 0 0;
}

.database-dialog form > div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.database-dialog-status-container {
  display: flex;
  align-items: center;
}

.database-dialog-status-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

#remote-db-logs {
  display: block;
  margin-top: 1rem;
  height: 10rem;

  overflow-y: auto;
  overflow-x: scroll;
}
