.remote-db-setup-dialog section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 30rem;
}

@media (max-width: 640px) {
  .remote-db-setup-dialog section {
    max-width: 20rem;
  }
}

.remote-db-setup-dialog h3 {
  margin: 1.5rem 0 0.5rem 0;
}

.remote-db-connection-heading {
  margin-top: 0 !important;
}

.remote-db-setup-dialog form {
  display: flex;
  flex-direction: column;
}

.remote-db-setup-dialog form input {
  margin: 0.25rem 0;
}

.remote-db-setup-dialog form label {
  margin: 0.5rem 0 0 0;
}

.remote-db-setup-dialog form > div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.remote-db-status-container > div {
  display: flex;
  align-items: center;
}

.remote-db-status-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

#remote-db-logs {
  display: block;
  margin-top: 1rem;
  height: 10rem;

  overflow-y: auto;
  overflow-x: scroll;
}
