#sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  overflow-y: hidden;
}

.sidebar-opened {
  width: 12rem;
  border-right: var(--outline-color) 0.13rem solid;
}

.sidebar-closed {
  overflow-y: hidden;
}

.sidebar-fullscreen {
  width: auto;
  border-right: none;
}

.sidebar-close-invisible {
  display: none;
}

#sidebar > button {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}

#sidebar-menu {
  margin: 0.5rem;
}

#sidebar-menu-controls {
  display: flex;
  justify-content: space-between;
}

#sidebar-list {
  overflow-y: auto;
}

#note-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.note-input-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.note-select-container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  max-width: inherit;
}

.note-select-container > button {
  border: none;
  color: gray;
  width: 100%;
  font-weight: normal;
  text-align: left;
}

.note-select-container > button > div > div:first-child {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 13.5rem;
}

.note-select-container > button:hover {
  background-color: var(--button-hover-color);
}

.select-note-active > button {
  color: black;
}

.select-note-date {
  font-size: small;
}
