#sidebar {
  display: flex;
  grid-area: sidebar;
  overflow-y: scroll;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  /* Width is setup by ResizeObserver */
  width: 170px;
}

/* The handle allows for easier grabbing of the resizing element */
#sidebar-resizer-handle {
  display: flex;
  cursor: ew-resize;
  width: 10px;
  height: 100%;
  position: relative;
  justify-content: center;
}

#sidebar-resizer-bar {
  cursor: ew-resize;
  width: 0.13rem;
  background-color: var(--outline-color);
  transition: width 0.1s ease;
}

#sidebar-resizer-handle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 0.13rem;
  background-color: transparent;
  transition:
    width 0.1s ease,
    background-color 0.1s ease;
}

#sidebar-resizer-handle:hover::after {
  width: 0.26rem;
  background-color: var(--outline-color);
}

.sidebar-closed {
  overflow-y: hidden;
}

.sidebar-fullscreen {
  /* This is !import to force overriding of the user-defined sidebar width */
  width: 100vw !important;
  border-right: none;
}

.sidebar-close-invisible {
  display: none;
}

#sidebar > button {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}

#sidebar-menu {
  margin: 0.5rem;
}

#sidebar-menu-controls {
  display: flex;
  justify-content: space-between;
}

#sidebar-list {
  overflow-y: auto;
  overflow-x: hidden;
}

#note-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  max-width: 500px;
}

.note-input-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.note-select-container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  max-width: inherit;
}

.note-select-container > button {
  border: none;
  color: gray;
  width: 100%;
  font-weight: normal;
  text-align: left;
}

.note-select-container > button > div > div:first-child {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* TODO: these need to follow with the resized container */
  /* and need to be a percentage smaller */
  max-width: 12.5rem;
}

.note-select-container > button:hover {
  background-color: var(--button-hover-color);
}

.select-note-active > button {
  color: black;
}

.select-note-date {
  font-size: small;
}
