:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --background-color: #f0f0e1;
  --outline-color: #1d1d1d;
  --active-color: #b3d4b8;
  --info-button-hover-color: rgba(128, 128, 128, 0.2);
  --code-block-color: #303030;
  --error-color: rgb(252, 148, 148);

  color: var(--outline-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: grid;
  grid-template-columns: 10fr auto;
  grid-template-rows: 1fr auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#status-bar {
  grid-area: status-bar;
}

.body-visible {
  grid-template-areas:
    'main sidebar'
    'status-bar status-bar';
}

.body-invisible {
  grid-template-areas:
    'sidebar sidebar'
    'status-bar status-bar';
}

main {
  display: flex;
  flex-direction: row;
  grid-area: main;
  overflow-y: auto;
}

main > h1 {
  margin-left: 1.5em;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 0.2em 0;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
}

h3 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.5em 0;
}

ul {
  list-style-type: disc;
  margin: 0.5em 2em;
}

ol {
  list-style-type: decimal;
  margin: 0.5em 2em;
}

li {
  margin: 0.5em 0;
}

p {
  line-height: 1.5em;
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

#no-notes-page {
  margin-top: 2em;
  margin-left: 2em;
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* Cleaner styling for scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 0px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
