:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --background-color: #f0f0e1;
  --outline-color: #1d1d1d;
  --active-color: #1568224c;

  color: var(--outline-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main > h1 {
  font-size: 1.3em;
  margin-left: 1.5em;
}

p {
  margin: 0;
}

input {
  font-size: small;
  max-width: intrinsic;
}

button {
  border-radius: 0.3em;
  border: 0.15em solid var(--outline-color);
  padding: 0.3em 0.5em;

  font-size: 0.9em;
  font-weight: bold;

  cursor: pointer;

  color: var(--outline-color);
  background-color: var(--background-color);
}

button:hover {
  background-color: var(--active-color);
}

button > svg {
  margin-top: 0.1em;
  width: 1.2em;
}

button.isActive {
  background-color: var(--active-color);
}

/* if this stay very small, in-line */
#sidebar {
  border-right: var(--outline-color) 0.15em solid;
  width: max-content;
}

#sidebar > h1 {
  font-size: 1em;
  margin-left: 0.5em;
}

#sidebar > button {
  margin-left: 0.5em;
  font-size: 0.9em;
}

.create-note-input-container {
  display: flex;
  width: min-content;
}

.create-note-input-container > input {
  max-width: 60%;
}

.note-select-container {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  max-width: inherit;
}

.note-select-container > button {
  border: none;
  background-color: transparent;
  font-weight: normal;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-note-active {
  background-color: rgb(210, 209, 188);
}

#editor-top-menu {
  padding: 0.5em;
  border-bottom: var(--outline-color) 0.15em solid;
  margin-bottom: 1em;
}

#editor {
  height: inherit;
  overflow-y: scroll;
  padding-left: 3em;
  padding-right: 7em;
}

.ProseMirror {
  outline: none;
  height: inherit;
  overflow-y: scroll;
}
